/*עיצוב הטבלה */
body {
    color: #404E67;
    background: #ecfcff;
    font-family: 'Open Sans', sans-serif;
}

.table-wrapper {
    /*    width: 700px;
*/ margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 1px 1px 10px rgb(140 140 140 / 70%);
    text-align: center;
    border-radius: 40px;
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

    .table-title h2 {
        margin: 6px 0 0;
        font-size: 30px;
        padding-right: 280px;
        color: #204767;
    }

    .table-title .add-new {
        /*        float: right;
*/ height: 30px;
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        min-width: 100px;
        border-radius: 50px;
        line-height: 13px;
        margin-bottom: -100px;
        margin-left: -180px;
    }

        .table-title .add-new i {
            margin-right: 4px;
        }

table.table {
    table-layout: fixed;
}

    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table th:last-child {
        width: 100px;
    }

    table.table td a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }

        table.table td a.add {
            color: #27C46B;
        }

        table.table td a.edit {
            color: #FFC107;
        }

        table.table td a.delete {
            color: #E34724;
        }

    table.table td i {
        font-size: 19px;
    }

    table.table td a.add i {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }

    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
        border: none;
    }

        table.table .form-control.error {
            border-color: #f50000;
        }

    table.table td .add {
        display: none;
    }

.form-control {
    width: none;
    text-align: center;
}

/*תפריט + לוגו*/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.logo {
    position: fixed;
    top: 6px;
    left: 0;
    width: 100px;
    margin: 25px 25px 0 30px;
}

.landing-page {
    position: relative;
}

    .landing-page .header-area {
        display: flex;
        padding: 25px 0 0;
        position: relative;
    }



        .landing-page .header-area .links {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: right;
        }

.links li {
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
}


    .links li:hover {
        color: #fd006d;
    }

.menu {
    text-decoration: none;
    color: black;
}

menu:hover {
    color: #fd006d;
    cursor: pointer;
}

#first {
    text-decoration: none;
    color: white;
}

.landing-page .header-area .links li:first-child {
    border: 0;
    border-radius: 30px;
    padding: 10px 18px;
    color: #FFF;
    background-color: #333;
}
